@import "tailwindcss";

:root {
  --background1: #22262B;
  --background2: #434A55;

  --white: #ffffff;
  --lime-green: #CDFA44;
  --light-gray: #75787E;
  --dark-gray: #262A31;

  --title-font: "Michroma", Arial, Helvetica, sans-serif;
}

body {
  background: var(--background1);
  color: var(--text-white);
  font-family: "Afacad", Arial, Helvetica, sans-serif;
}

.navBar {
  display: flex;
  padding: 0.5rem 4.5rem;
  justify-content: space-between;
  background: var(--background2);

  .navTitle {
    font-family: var(--title-font);
    font-size: 2rem;
    color: var(--lime-green);
  }

  .navLogo {
    height: 4rem;
    width: auto;
    margin-right: 0.5rem;
  }
}